{# On étend le template de base pour garder la structure globale du site#}
{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="admin-container">
        <h1>Bienvenue dans l'administration</h1>
        <p>Choisissez une option ci-dessous :</p>
        <div class="button-container">
            <a href="{{ path('utilisateurs_gestion') }}" class="btn btn-gestion">Gestion des utilisateurs</a>
            <a href="{{ path('objets_gestion') }}" class="btn btn-gestion">Gestion des objets</a>
        </div>
    </div>

{# Styles personnalisés pour le tableau et les boutons #}
<style>

    .admin-container {
        text-align: center;
        margin-top: 50px;
    }

    .button-container {
        margin-top: 30px;
    }
    .btn-gestion {
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        margin: 10px;
        display: inline-block;
        background-color: #527970;
        border-color: #527970;
    }


</style>
{% endblock %}
