/* === Styles généraux === */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CAD2C5; /* Vert pâle */
    color: #2F3D46; /* Vert très foncé pour le texte */
    line-height: 1.6;
}

h1, h2 {
    color: #354E52; /* Vert foncé pour les titres */
    margin-bottom: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #354E52;
    color: white;
    text-align: center;
    padding: 20px;
}

/* === Barre de navigation === */
.navbar {
    background-color: #354E52;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 10px 0px;
}

.container-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    position: relative;
}

.navbar-brand {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Liens de navigation */
.navbar-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 25px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
    background-color: #527970;
    color: #CAD2C5;
}

/* === Boutons Barre Navigation === */
.navbar-buttons {
    display: flex;
    gap: 1rem;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 15px;
}

.btn-search:hover {
    transform: translateY(-2px);
}

.btn-auth {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px;
}

.btn-auth:hover {
    background-color: white;
    color: #354E52;
    border: 1px solid #354E52;
}

/* Vidéo */
.hero-video {
    height: 80vh;
    width: auto;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
}

/* Contenu sur la vidéo */
.hero-content {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    max-width: 800px;
    margin-bottom: 30px;
}

/* Bouton présent sur la vidéo */
.btn-header {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #84A98D;
    border: 1px solid white;
    border-radius: 15px;
    margin: 20px auto 0;
    padding: 10px 20px;
    transition: transform 0.2s;
}

.btn-header:hover {
    color: #84A98D;
    background-color: white;
    border: 1px solid #84A98D;
}
