/* === Styles généraux === */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #CAD2C5; /* Vert pâle */
  color: #2F3D46; /* Vert très foncé pour le texte */
  line-height: 1.6;
  overflow-y: scroll;
}

h1, h2 {
  color: #354E52; /* Vert foncé pour les titres */
  margin-bottom: 20px;
}

header, section {
  padding: 20px;
}

header {
  background-color: #84A98D;
  color: white;
  text-align: center;
}

footer {
  background-color: #354E52;
  color: white;
  text-align: center;
  padding: 20px;
}

/* === Barre de navigation === */
.navbar {
  background-color: #354E52;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 0px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  position: relative;
}

.navbar-brand {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* Liens de navigation */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
  background-color: #527970;
  color: #CAD2C5;
}

/* === Boutons Barre Navigation === */
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

.btn-search:hover {
  transform: translateY(-2px);
}

.btn-auth {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 20px;
}

.btn-auth:hover {
  background-color: white;
  color: #354E52;
  border: 1px solid #354E52;
}

/* Contenu principal */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 60px;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 40px;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 10px 16px rgba(0,0,0,0.15);
}

.card-text p{
  margin-bottom: 20px;
}

/* Boutons */
.btn-primary {
  padding: 10px 20px;
  width: fit-content;
  align-self: center;
  border-radius: 15px;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  background-color: #84A98D;
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #527970;
  transform: translateY(-2px);
  cursor: pointer;
}

/* Images */
.card img {
  width: 100%;
  height: 200px;
  border: solid #84A98D;
  border-radius: 15px;
}
