/* === Styles généraux === */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #CAD2C5; /* Vert pâle */
  color: #2F3D46; /* Vert très foncé pour le texte */
  line-height: 1.6;
  overflow-y: scroll;
}

h1, h2 {
  color: #354E52; /* Vert foncé pour les titres */
  margin-bottom: 20px;
}

header, section {
  padding: 20px;
}

header {
  background-color: #84A98D;
  color: white;
  text-align: center;
}

footer {
  background-color: #354E52;
  color: white;
  text-align: center;
  padding: 20px;
}
/* === Barre de navigation === */
.navbar {
  background-color: #354E52;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 10px 0px;
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  position: relative;
}

.navbar-brand {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

/* Liens de navigation */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 10px 25px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-links a:hover {
  background-color: #527970;
  color: #CAD2C5;
}

/* === Boutons Barre Navigation === */
.navbar-buttons {
  display: flex;
  gap: 1rem;
}

.btn-search {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 15px;
}

.btn-search:hover {
  transform: translateY(-2px);
}

.btn-auth {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 20px;
}

.btn-auth:hover {
  background-color: white;
  color: #354E52;
  border: 1px solid #354E52;
}

/* Boutons */
.btn-back {
  padding: 10px 20px;
  width: fit-content;
  align-self: center;
  border-radius: 15px;
  border: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background-color: #84A98D;
  margin-bottom: 20px;
}

.btn-back:hover {
  background-color: #527970;
  transform: translateY(-2px);
  cursor: pointer;
}

/* Contenu principal */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 16px rgba(0,0,0,0.15);
}

.card img {
  max-width: 300px;
  border-radius: 10px;
  margin-right: 20px;
  flex: 1;
}

.parc-info {
  flex: 2;
  min-width: 250px;
}

.parc-info h3 {
  margin-top: 0;
}

.cadre {
  background-color: #E0E1DD;
  border-left: 5px solid #84A98D;
  padding: 15px 20px;
  margin-top: 15px;
  border-radius: 8px;
  font-size: 0.95rem;
}
