<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Valmont - Accueil{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('styles/index.css') }}">
        {% block stylesheets %}
        {% endblock %}

         <style>
            .dropdown-list {
                display: none;
                margin-top: 10px;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>